global
    log stdout format raw daemon

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http_front
    bind *:80
     bind *:443 ssl crt /usr/local/etc/haproxy/certs/selfsigned.pem
    default_backend church_apps

backend church_apps
    balance roundrobin
    option httpchk GET /
    server app1 church-app1:3000 check
    server app2 church-app2:3000 check
    server app3 church-app3:3000 check


